.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.content .item {
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; */
    box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 10%) 0px 8px 24px, rgb(161 225 241 / 24%) 0px 16px 56px;
    width: 30%;
    margin: 50px 0 10px 0;
    border-radius: 8px;
    padding: 14px 20px;

}

.content .item span {
    font-weight: bold;
    line-height: 8vh;
}

.content .item img {
    margin: auto;
    display: block;
    width: 96%;
    height: 176px;
}

/* .content .item
.content .item
.content .item
.content .item */